LLM_MODEL=your-openai-compatible-model
LLM_BINDING_API_KEY=your-open-ai-compatible-key
LLM_BINDING_HOST=your-open-ai-compatible-endpoint

# EMBEDDING MODEL
EMBEDDING_MODEL=your-open-ai-compatible-embedding-model